
<div class="full-block">
    <p><i class="fa fa-users"></i>Choose number of <span>people</span></p>
    <div class="content-block">

<div class="room">

<p class="inner-p"><i class="fa fa-bed"></i>ROOMS</p>
<button (click)="decrementRoom()" [disabled]="roomdcDes"><i class="fa fa-minus-circle"></i></button>
<input [(ngModel)]="room">
<button (click)="incrementRoom()" [disabled]="roomDes"><i class="fa fa-plus-circle"></i></button>
</div>

<div class="adult">

<p class="inner-p"><i class="fa fa-user"></i>ADULT</p>
<button (click)="decrementAdult()" [disabled]="adultDes"><i class="fa fa-minus-circle"></i></button>
<input [(ngModel)]="adult">
<button (click)="incrementAdult()" [disabled]="adultInDes"><i class="fa fa-plus-circle"></i></button>
</div>

<div class="child">

<p class="inner-p"><i class="fa fa-child"></i>CHILDREN</p>
<button (click)="decrementChild()" [disabled]="childDes"><i class="fa fa-minus-circle"></i></button>
<input [(ngModel)]="child"> 
<button (click)="incrementChild()" [disabled]="childInDes"><i class="fa fa-plus-circle"></i></button>
</div>
</div>
</div>