input {
    width: 32px;
    text-align: center;
    border: none;
    font-size: 25px;
}
.full-block {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    
}
.content-block {
    border: 1px solid #000;
}
.room, .adult, .child {
    border-bottom: 1px solid #000;
    width: 94%;
    padding: 15px 0px 15px 0px;
    margin-left: auto;
    margin-right: auto;
}
.child {
    border-bottom: none;
}
p {
    font-size: 22px;
    color: #1b1b7c;
    font-family: sans-serif;
}
span {
    font-weight: bold;
}
i {
    padding-right: 10px;
}
.inner-p {
    margin: 0;
    width: 82%;
    float: left;
    font-size: 18px;
    padding-top: 7px;
    display: flex;
}
.fa-minus-circle, .fa-plus-circle {
    padding-right: 0px;
    font-size: 30px;
}
.fa-minus-circle {
    color: #1b1b7c;
}
.fa-plus-circle {
    color: #E91E63;
}

button {
    border: none;
    background: none;
    cursor: pointer;
}
button:focus {
    outline: none;
}